<html>
  <head>
    <title>404 Page not found</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/img/pic3.png">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>{{msg}}</p>
    </div>
    {{>footer}}
</body>
</html>