<!DOCTYPE html>     
<html>
    <head>
        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="icon" href="/img/pic3.png">
        <title>About Me</title>
    </head>
    <body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">
    </div>
        {{>footer}}
    </body>
</html>