<html>
  <head>
    <title>INDEX</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="icon" href="/img/pic3.png">
    
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <form>
      <input placeholder="location">
      <button>Search</button>
    </form>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
    </div>
    {{>footer}}
    <script src="app.js"></script>
</body>
</html>